<p><%= link_to 'Add new gear', new_gear_path %></p>
<p>All my gear:</p>
<% if @gear %>
  <% @gear.each do |gear| %>
    <p>
      Category: <%= gear.category %><br>
      Brand: <%= gear.brand %><br>
      Year: <%= gear.year  %><br>
      Model: <%= gear.model %><br>
    </p>
  <% end %>
<% end %>
