<p>Add your gear here!</p>

<%= form_for(@gear) do |f| %>
  <%= f.text_field :category, :placeholder => "Category" %><br>
  <%= f.text_field :brand, :placeholder => "Brand" %><br>
  <%= f.number_field :year, :placeholder => "Year" %><br>
  <%= f.text_field :model, :placeholder => "Model" %><br>
  <%= f.submit "Submit", class: 'button' %>
<% end %>

<% if @errors %>
  <p>
    <% @errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </p>
<% end %>